.footer-wrap {
  padding: 20px 100px;
  background-color: white;
  height: 160px !important;
}

.footer-left {
  display: flex;
}
.footer-left img {
  width: 10%;
  scroll-behavior: unset;
}
.footer-left Button{
  color: #a8a8a8;
  margin-top: 1%;
  margin-left: 20px;
  font-size: 20px;
}
.footer-left p {
  color: #a8a8a8;
  margin-top: 7%;
  margin-left: 20px;
  font-size: 11px;
}
.footer-right {
  display: flex;
  justify-content: flex-end;
}
.footer-right button {
  color: #24245E;
  background-color: transparent;
  border: none;
  margin-left: 30px;
}
.btn-primary{
  color: #24245E!important;
  background-color: transparent!important;
}
.btn-primary::after {
  color: #fff!important;
  background-color: transparent!important;
  border-color: #212529!important;
}

.footer-link{
  display: flex;
  justify-content: right;
}


@media only screen and (max-width: 1200px) {
  .footer-wrap {
    padding: 50px;
  }
  .footer-right button {
    font-size: 12px;
    text-align: center;
  }
  .footer-left img{
    width: 75px;
  }
  .footer-left p {
    text-align: center;
  }
  .footer-left button {
    text-align: center;
  }
}

@media only screen and (max-width: 980px) {
  .footer-left img {
    width: 80px;
    margin-top: -6%;
  }
  .footer-right button {
    margin-left: 20px;
  }

  .footer-left p {
    text-align: center;
  }
  .footer-left img{
    width:25%;
  }
}

@media only screen and (max-width: 768px) {
  .footer-left {
    flex-direction: column;
    align-items: center;
  }
  .footer-right {
    display: none;
    width: 100%;
  }
  .footer-left img{
    width:9%;
  }
 .footer-link{
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  left: 5px;
  margin-top: 45px;
  }
}

@media screen and (max-width: 480px) { .footer-link{
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  left: 5px;
  margin-top: 30px;
  }
}