.footer-wrap {
  padding: 20px 100px;
  background-color: white;
  height: 160px !important;
}

.footer-left {
  display: flex;
}
.footer-left img {
  width: 15%;
  height: 90%;
  margin-top: -20px;
  scroll-behavior: unset;
}
.footer-left button {
  color: #a8a8a8;
  font-size: 11px;
  margin-top: -5px;
}
.footer-left p {
  color: #a8a8a8;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 11px;
}
.footer-right {
  display: flex;
  justify-content: flex-end;
}
.footer-right button {
  color: #24245e;
  background-color: transparent;
  border: none;
  margin-left: 30px;
}
.btn-primary {
  color: #24245e !important;
  background-color: transparent !important;
}
.btn-primary::after {
  color: #fff !important;
  background-color: transparent !important;
  border-color: #212529 !important;
}

.footer-link {
  display: flex;
  justify-content: right;
}

@media only screen and (max-width: 1200px) {
  .footer-wrap {
    padding: 30px;
  }
  .footer-right button {
    font-size: 12px;
  }
}

@media only screen and (max-width: 980px) {
  .footer-left img {
    width: 31%;
    height: 125%;
    margin-top: -15%;
  }
  .footer-right button {
    margin-left: 20px;
  }

  .footer-left p {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .footer-left {
    align-items: center;
    flex-direction: column;
    margin: auto;
  }
  .footer-right {
    display: none;
    width: 100%;
  }

  .footer-link {
    justify-content: center;
    width: 100%;
    margin-top: 8%;
  }
  .footer-left img {
    width: 15%;
    height: 20%;
    margin-top: -24%;
  }
  .footer-wrap {
    padding: 10px;
  }
}

@media screen and (max-width: 480px) {
  .footer-link {
    justify-content: center;
    width: 100%;
    padding: 20px;
  }
  .footer-left img {
    width: 15%;
    height: 20%;
    margin-top: -142px;
  }
}
@media screen and (max-width: 400px) {
  .footer-link {
    justify-content: center;
    width: 100%;
    margin-top: 0;
  }
  .footer-left img {
    width: 15%;
    height: 20%;
    margin-top: -117px;
  }
  .footer-wrap {
    padding: 20px;
  }
}
@media screen and (max-width: 280px) {
  .footer-link {
    justify-content: center;
    width: 100%;
    margin-top: 0;
  }
  .footer-left img {
    display: none;
  }
  .footer-wrap {
    padding: -14px;
  }
  .row > * {
    flex-shrink: 0;
  }
}
